impacket
ldap3-bleeding-edge
dnspython
future
gnureadline
validators
dsinternals
chardet
tabulate
argparse
requests_ntlm
python-dateutil
flask

# Optional: Required only for MCP mode
git+https://github.com/modelcontextprotocol/python-sdk
