dnspython
future
gnureadline
validators
dsinternals
chardet
tabulate
argparse
requests_ntlm
python-dateutil
ldap3 @ git+https://github.com/cannatag/ldap3.git
impacket @ git+https://github.com/fortra/impacket.git
flask
flask-basicauth
pycryptodome
fastmcp