{% extends "base/layouts.html" %}

{% block content %}
    <!-- Modules Panel -->
    <div class="flex-1 overflow-y-auto" id="modules-panel">
        <div class="grid grid-cols-4 gap-4 m-4">
            <!-- Query Builder Card -->
            <div class="col-span-1">
                <div class="p-4 bg-white rounded-lg shadow p-4">
                    <h2 class="text-lg font-semibold mb-2">Query Parameters</h2>
                    <div class="space-y-2">
                        <button id="spn-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            SPN
                        </button>
                        <button id="trusted-to-auth-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Trusted To Auth
                        </button>
                        <button id="enabled-users-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Enabled Users Only
                        </button>
                        <button id="rbcd-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            RBCD
                        </button>
                        <button id="shadow-cred-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Shadow Credentials
                        </button>
                        <button id="unconstrained-delegation-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Unconstrained Delegation
                        </button>
                        <button id="disabled-users-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Disabled Users Only
                        </button>
                        <button id="laps-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            LAPS
                        </button>
                        <button id="printers-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Printers
                        </button>
                        <button id="bitlocker-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Bitlocker
                        </button>
                        <button id="gmsapassword-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            GMSA Password
                        </button>
                        <button id="pre2k-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Pre-2000
                        </button>
                        <button id="excludedcs-toggle" class="custom-toggle-switch w-full mt-2 bg-transparent text-black border border-gray-300 py-1 px-2 rounded-lg shadow-sm focus:outline-none hover:bg-gray-100" data-active="false">
                            Exclude Domain Controllers
                        </button>
                        <div class="flex items-center">
                            <div class="relative w-full">
                                <input type="text" id="ldap-filter-input" class="w-full border rounded p-1 pr-10 text-center" placeholder="Additional LDAP Filter">
                                <button id="clear-ldap-filter" class="absolute inset-y-0 right-0 px-2 text-gray-400 hover:text-gray-600 focus:outline-none">
                                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <button id="search-computers-button" class="w-full mt-2 bg-blue-700 text-white py-1 px-2 rounded-lg shadow hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300">
                            Search Computers
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-3 bg-white rounded-lg shadow p-4">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex items-center gap-2">
                        <svg class="w-5 h-5 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" x2="12" y1="8" y2="12"></line>
                            <line x1="12" x2="12.01" y1="16" y2="16"></line>
                        </svg>
                        <h2 class="text-lg font-semibold">Computers</h2>
                    </div>
                    <button data-modal-target="add-computer-modal" data-modal-toggle="add-computer-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
                        Add Computer
                    </button>
                </div>
                <!-- Search Bar -->
                <div class="m-4">
                    <input type="text" id="computer-search" class="w-full p-2 border rounded" placeholder="Filter computers...">
                </div>
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hostname</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">samAccountName</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Operating System</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <!-- Rows will be populated by JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/computer.js') }}"></script>
{% endblock %}