{% extends "base/layouts.html" %}

{% block content %}
<div class="grid grid-cols-3 gap-4 p-4 h-full relative">
    {% include "views/initspinner.html" %}
    <!-- Left Column -->
    <div class="grid grid-rows-3 col-span-1 gap-4 h-full overflow-y-auto scrollbar">
        <div class="row-span-1 p-4 border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 h-full overflow-y-auto scrollbar rounded-lg">
            <h2 class="text-lg font-semibold mb-2">Zone Name</h2>
            <div class="zone-name-container">
            </div>
        </div>
        <div class="row-span-2 p-4 border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-transparent dark:text-neutral-300 h-full overflow-y-auto scrollbar rounded-lg">
            <h2 class="text-lg font-semibold mb-2">Record Name</h2>
            <div class="record-name-section">
                <!-- Table will be dynamically inserted here -->
            </div>
        </div>
    </div>
    <!-- Right Column: DNS Record Details -->
    <div class="p-4 col-span-2 border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300 h-full overflow-y-auto scrollbar rounded-lg relative">
        {% include 'views/spinner.html' %}
        <div class="flex items-center justify-between mb-4">
            <div class="flex items-center gap-2">
                <i class="fa-solid fa-globe"></i>
                <h2 class="text-lg font-semibold">DNS Record Details</h2>
            </div>
            <div class="flex items-center gap-2">
                <button data-modal-target="delete-record-modal" data-modal-toggle="delete-dns-record-modal" class="hidden block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" type="button">
                    Delete Record
                </button>
                <button data-modal-target="add-record-modal" data-modal-toggle="add-dns-record-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
                    Add Record
                </button>
            </div>
        </div>
        <div class="dns-record-details-container">
            <!-- DNS record details will be dynamically inserted here -->
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dns.js') }}"></script>
{% endblock %}