<!-- Results Panel -->
<div class="flex-1 overflow-y-auto" id="results-panel">
    <div class="p-6 m-4 rounded-lg border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
        <div class="flex items-center gap-2 mb-4">
            <i class="fa-solid fa-table"></i>
            <h2 class="text-lg font-semibold">Query Results</h2>
            {% include 'views/spinner.html' %}
        </div>
        <div class="border rounded-lg overflow-hidden" id="results-panel">
            <!-- Results content -->
        </div>
    </div>
</div>